{
  "openapi": "3.0.0",
  "x-api-id": "ref-data-builder",
  "info": {
    "version": "0.3.0",
    "title": "ref-data-builder",
    "license": {
      "name": "ISC"
    }
  },
  "servers": [
    {
      "url": "https://timezynk.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth2 API authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.timezynk.com/api/oauth2/v1/auth",
            "tokenUrl": "https://api.timezynk.com/api/oauth2/v1/token",
            "scopes": {
              "read:company": "Read all company information",
              "write:company": "Write all company information",
              "read:user": "Read all user information",
              "write:user": "Write all user information",
              "write:availability": "Create, update and delete availability for logged in user"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://api.timezynk.com/api/oauth2/v1/token",
            "scopes": {
              "read:company": "Read all company information",
              "write:company": "Write all company information"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/ref-data/v1/{collectionId}": {
      "get": {
        "security": [
          {
            "OAuth2": [
              "read"
            ]
          }
        ],
        "description": "Returns refdata",
        "parameters": [
          {
            "in": "path",
            "name": "collectionId",
            "required": true,
            "description": "Id of the collection e.g. shifts, timereports, or a registry-id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "Comma seperated list of Collection ids to compute refdata for. Limit 100.",
            "schema": {
              "type": "string",
              "format": "csv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "400": {
            "description": "Bad request. Invalid ids query."
          },
          "401": {
            "description": "Unauthorized."
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    }
  }
}
